/* START FIRST BLOCK */
.firstBlock {
    height: 100vh;
    min-height: 800px;
    max-height: 1000px;
    display: flex;
    align-items: center;
}

.firstBlock main {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BLOCK CONTENT SIZE */

.leftBox {
    z-index: 2;
    width: 40%;
}

.rightBox {
    z-index: 2;
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

/* END BLOCK CONTENT SIZE */

/* LEFT BOX */

.bigTitle {
    font-size: 90px;
    font-weight: bolder;
    text-align: left;
    letter-spacing: 3px;
    line-height: 1.05;
    color: #303030;
    font-family: 'Nunito Sans', sans-serif;
}

.leftBox p {
    color: #494949;
    letter-spacing: 0.5px;
    font-size: 20px;
    margin-top: 30px;
}

.linkBtn {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}

.linkBtn .log,
.linkBtn .demo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 0 20px 0 0;
    font-size: 15px;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.log {
    width: 150px;
    color: #303030;
    border-radius: 20px;
    border: 2px solid #494949;
}

.log:hover {
    background: #303030;
    color: #fff;
}

.demo {
    width: 250px;
    border-radius: 20px;
    color: #fff;
    border: 2px solid #e62117;
    background-color: #a30000;
    background-image: linear-gradient(147deg, #e62117 30%, #a30000 100%);
}

.demo:hover {
    color: #e62117;
    background: #fff;
}

/* END LEFT BOX */

/* RIGHT BOX */

/* START CARD ONE */

.cardOne {
    z-index: 2;
    position: absolute;
    height: 340px;
    width: 300px;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: #a30000;
    background-image: linear-gradient(147deg, #e62117 30%, #a30000 100%);
}

.cardOne h3 {
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
    color: #fff;
}

.cardOne .listIcon {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: none;
    box-sizing: border-box;
}

.cardOne .appliIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 10px;
    margin: 80px 0 10px 0;
    box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cardOne .icon1 {
    margin-top: 5px;
    font-size: 35px;
    color: #e62117;
}

.cardOne .icon2 {
    margin-top: 5px;
    font-size: 40px;
    color: #FFA500;
}

.cardOne .icon3 {
    margin-top: 5px;
    font-size: 35px;
    color: #008000;
}

.nameIcon {
    display: flex;
    justify-content: space-around;
}

.nameIcon h5 {
    background: none;
    color: #fff;
    font-size: 14px;
}

/* END CARD ONE */

/* START CARD TWO */

.cardTwo {
    z-index: 2;
    position: relative;
    bottom: 150px;
    height: 170px;
    width: 300px;
    padding: 20px 30px 20px 30px;
    box-sizing: border-box;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.cardTwo h3 {
    color: #303030;
    text-align: center;
}

.cardTwo .arrows {
    display: flex;
    justify-content: space-between;
}

.cardTwo .input {
    display: inline;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.input h2 {
    height: 15px;
    font-size: 15px;
    margin-bottom: 5px;
    color: #494949;
}

.cardTwo .inputText {
    width: 120px;
    height: 30px;
    margin: auto;
    padding: 10px 25px 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: 2px solid #494949;
}

.inputText h5 {
    font-size: 18px;
    font-weight: bold;
    color: #494949;
}

.inputText div {
    height: 10px;
    width: 1.5px;
    border-radius: 9999px;
    background: #494949;
}

.inputText p {
    font-size: 20px;
    color: #494949;
    font-weight: bold;
}

/* END CARD ONE */

/* START CARD THREE */

.cardThree {
    z-index: 2;
    position: relative;
    left: 125px;
    top: 100px;
    height: 350px;
    width: 300px;
    padding: 20px 30px 20px 30px;
    box-sizing: border-box;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.cardThree h3 {
    color: #303030;
    text-align: center;
}

.cardThree .arrows {
    display: flex;
    justify-content: space-between;
}

.arrows div {
    display: flex;
}

.arrows .smallOne {
    background: #cccccc;
    height: 10px;
    width: 30px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 2px;
}

.arrows .smallTwo {
    background: #999999;
    height: 10px;
    width: 40px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 2px;
}

.calendarDay p {
    display: inline;
    margin: 3px;
    font-size: 15px;
    color: #494949;
}

.calendar {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.calendarStart {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}


.calendarEnd {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.calendar div,
.calendarStart div,
.calendarEnd div {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background: #008000;
    color: #fff;
    text-align: center;
    padding-top: 7px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.calendarStart div {
    margin-left: 5px;
}

.calendarEnd div {
    margin-right: 5px;
}

.calendar .other,
.calendarStart .other,
.calendarEnd .other {
    background: #e9e9e9;
    color: #494949;
}

.calendar .disabled,
.calendarStart .disabled,
.calendarEnd .disabled {
    background: #8f8f8f;
    color: #494949;
}

.calendar .semi {
    background: #17a2b8;
}

.legend {
    margin-top: 15px;
    display: inline-flex;
    display: flex;
    justify-content: space-around;
}

.legend .disabled,
.legend .full,
.legend .semi {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background: #008000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.legend .semi {
    background: #17a2b8;
}

.legend .disabled {
    background: #8f8f8f;
}

.legendText {
    margin-top: 5px;
    display: inline-flex;
    display: flex;
    justify-content: space-around;
}

.legendText p {
    font-size: 12px;
    width: 30%;
    text-align: center;
    line-height: 1.05;
    font-weight: bold;
}

/* END CARD THREE */

/* END RIGHT BOX */

/* END FIRST BLOCK */

/* WAVE PHONE */

.wave {
    margin-top: 100px;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.wave img {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* END WAVE PHONE */

/* START SECOND BLOCK */

.secondBlock {
    margin-top: 100px;
    width: 100%;
    z-index: 3;
    height: 100vh;
    min-height: 800px;
    max-height: 1200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondBlock main {
    display: inline;
    z-index: 3;
}

.cardPhone {
    z-index: 3;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardPhone .respPhone {
    display: none;
}

.cardPhone .highPhone {
    display: block;
}

.cardPhone #rond {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #a30000;
    background-image: linear-gradient(147deg, #e62117 30%, #a30000 100%);
    border: 4px solid #303030;
    border-radius: 999px;
    font-weight: bold;
    font-size: 15px;
}

.cardPhone .rond {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 105px;
}

.cardPhone h3 {
    margin-left: 70px;
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    width: 415px;
}

.cardPhone p {
    margin-left: 70px;
    width: 90%;
    font-size: 20px;
    color: #fff;
}

.cardPhone .hr {
    height: 350px;
    width: 3px;
    background: #fff;
}

.cardPhone img {
    margin-right: 30px;
    height: 600px;
    z-index: 3;
}

/* END SECOND BLOCK */

/* START THIRD BLOCK */

.thirdBlock {
    width: 100%;
    margin-top: 100px;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdBlock h6 {
    margin-top: 50px;
    font-family: 'MontSerrat', sans-serif;
    overflow: hidden;
    font-size: 200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 5%;
}

.thirdBlock main {
    width: 80%;
    display: flex;
    padding-top: 50px;
}

.thirdBlock .textContent {
    display: inline;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: #303030;
}

.textContent h3 {
    font-size: 70px;
    font-weight: bold;
}

.textContent p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #494949;
}

.textContent a p {
    padding: 10px 20px;
    text-align: center;
    width: 300px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    color: #fff;
    border: 2px solid #e62117;
    background-color: #a30000;
    background-image: linear-gradient(147deg, #e62117 30%, #a30000 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.textContent a p:hover {
    color: #e62117;
    background: #fff;
}

.thirdBlock .screenExample {
    width: 50%;
    z-index: 3;
}


/* END THIRD BLOCK */

/* START FOUR BLOCK */

.fourBlock {
    width: 100%;
    min-height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourBlock h6 {
    font-family: 'MontSerrat', sans-serif;
    overflow: hidden;
    font-size: 200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 5%;
}

.fourBlock main {
    width: 80%;
    display: flex;
    padding-top: 50px;
}

.fourBlock .textContent {
    display: inline;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: #303030;
}

.fourBlock h3 {
    font-size: 70px;
    font-weight: bold;
}

.fourBlock p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #494949;
}

.textContent a p {
    padding: 10px 20px;
    text-align: center;
    width: 300px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    color: #fff;
    border: 2px solid #e62117;
    background-color: #a30000;
    background-image: linear-gradient(147deg, #e62117 30%, #a30000 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.textContent a p:hover {
    color: #e62117;
    background: #fff;
}

.fourBlock .screenExample {
    width: 50%;
    z-index: 3;
}


/* END FOUR BLOCK */