@media (max-width: 1150px) {

    .firstBlock main {
        max-height: 80vh;
        width: 90%;
        margin: 0 auto;
        display: block;
        flex-direction: column;
    }

    .leftBox {
        margin-top: 100px;
        width: 100%;
    }

    .rightBox {
        margin-top: 100px;
        width: 100%;
        padding-right: 50px;
    }

    .bigTitle {
        font-size: 60px;
    }

    .leftBox p {
        font-size: 15px;
        margin-top: 15px;
    }

    .linkBtn {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    .cardOne {
        width: 200px;
        height: 220px;
        padding: 20px;
    }

    .cardOne h3 {
        margin-top: 15px;
        text-align: left;
        font-size: 15px;
    }

    .cardOne .appliIcon {
        width: 35px;
        height: 35px;
        border-radius: 10px;
        margin-top: 60px;
    }

    .cardOne .icon1 {
        margin-top: 2px;
        font-size: 25px;
    }

    .cardOne .icon2 {
        margin-top: 2px;
        font-size: 30px;
    }

    .cardOne .icon3 {
        margin-top: 2px;
        font-size: 25px;
    }

    .nameIcon h5 {
        font-size: 10px;
    }

    .cardTwo {
        bottom: 20px;
        right: 70px;
        height: 135px;
        width: 220px;
        padding: 10px 15px 10px 15px;
    }

    .cardTwo .input {
        margin-top: 5px;
    }

    .input h2 {
        font-size: 14px;
    }

    .cardTwo .inputText {
        width: 80px;
        height: 25px;
        padding: 5px 15px 5px 15px;
    }

    .inputText h5 {
        font-size: 15px;
        font-weight: bold;
        color: #494949;
    }

    .inputText div {
        height: 10px;
        width: 1.5px;
    }

    .inputText p {
        font-size: 15px;
    }

    .cardThree {
        position: relative;
        left: 100px;
        top: 30px;
        height: 280px;
        width: 250px;
        padding: 10px 15px 10px 15px;
    }

    .calendarDay p {
        font-size: 12px;
        margin-left: 5px;
    }

    .calendar,
    .calendarStart,
    .calendarEnd {
        margin-top: 5px;
    }

    .calendar div,
    .calendarStart div,
    .calendarEnd div {
        height: 25px;
        width: 25px;
        border-radius: 8px;
        text-align: center;
        padding-top: 5px;
        font-size: 11px;
    }

    .calendarStart div {
        margin-left: 7.5px;
    }

    .calendarEnd div {
        margin-right: 7.5px;
    }

    .legend {
        margin-top: 10px;
    }

    .legend .disabled,
    .legend .full,
    .legend .semi {
        height: 25px;
        width: 25px;
        border-radius: 8px;
        background: #008000;
    }

    .legend .semi {
        background: #17a2b8;
    }

    .legend .disabled {
        background: #8f8f8f;
    }

    .legendText p {
        font-size: 10px;
    }

}

@media (max-width: 600px) {

    .firstBlock main {
        max-height: 60vh;
        width: 90%;
    }

    .leftBox {
        margin-top: 80px;
    }

    .bigTitle {
        font-size: 50px;
    }

    .leftBox p {
        font-size: 19px;
    }

    .linkBtn {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    .rightBox {
        display: none;
    }

    .demo {
        width: 200px;
    }

    .log {
        width: 200px;
    }
}