.thirdBlock {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.thirdBlock article {
    z-index: 1;
    width: 100%;
    max-width: 1700px;
    height: auto;
    padding: 0px 0;
    margin: auto;
}

.thirdBlock .section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: auto;
}

.thirdBlock .section section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    z-index: 1;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: all, 0.5s;
}

.card:hover {
    background: #f1f1f1;
    transition: all, 0.5s;
}

.card .objectIcon {
    width: 20%;
    margin-right: 20px;
}

.card .objectIcon .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background: #333;
    border-radius: 15px;
}

.selected .objectIcon .icon,
.selected .objectIcon .icon,
.selected .objectIcon .icon {
    background-color: #a30000;
    background-image: linear-gradient(147deg, #e62117 30%, #a30000 100%);
}

.card .cardText {
    display: inline;
    text-align: left;
}

.card .cardText h5 {
    margin-bottom: 15px;
    font-size: 20px;
}

.card .cardText p {
    font-size: 16px;
}

.section .carousel {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .carousel .img-to-show {
    position: absolute;
    width: 100%;
    border-radius: 5px;
}

.imgAnim {
    animation: fade-in 1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.img-to-show {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.selected {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}