.secondBlock {
  padding: 50px 0 0 0;
  width: 100%;
  background: #eeeeee;
  margin: auto;
}

.secondBlock article {
  width: 85%;
  max-width: 1700px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondBlock .leftBox {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondBlock .leftBox img {
  width: 50%;
}

.secondBlock .rightBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 50px;
  width: 50%;
}

.secondBlock .rightBox .bigTitle {
  text-align: left;
  font-size: 45px;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: "Besley", serif;
}

.secondBlock .rightBox p {
  line-height: 1.5rem;
  font-size: 18px;
  margin-bottom: 1em;
  width: 90%;
}

.secondBlock .rightBox .btn {
  width: 280px;
  margin: auto;
}
