.fiveBlock {
    padding: 50px 0 0 0;
    width: 100%;
}

.fiveBlock article {
    width: 85%;
    height: 100%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fiveBlock .sheetTop h2 {
    text-align: center;
    font-size: 2.25em;
    line-height: 1.30em;
    letter-spacing: 2px;
    margin-bottom: 0.5em;
    font-family: 'Besley', serif;
}

.fiveBlock .sheetTop p {
    margin: auto;
    text-align: center;
    color: #303030;
    font-size: 15px;
    margin-bottom: 30px;
    width: 60%;
}

.fiveBlock .sheetBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fiveBlock .sheetBottom img {
    width: 60%;
}