@media (max-width: 1020px) {
  #carArt {
    z-index: 1;
    width: 85%;
    max-width: 1700px;
    height: auto;
    padding: 100px 0;
    margin: auto;
  }

  #carArt h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  #carArt .section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  #carArt .section section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    z-index: 1;
  }

  #carArt .section section:nth-child(2) {
    margin-top: 30px;
    height: 420px;
  }

  #carArt .card {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .card .cardText p {
    display: none;
  }

  #carArt .section .carousel .img-to-show {
    width: 85%;
  }

  #secondCarArt {
    z-index: 1;
    width: 85%;
    max-width: 1700px;
    height: auto;
    padding: 80px 0;
    margin: auto;
  }

  #secondCarArt h2 {
    font-size: 30px;
    padding-bottom: 30px;
  }

  #secondCarArt .section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  #secondCarArt .section section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
  }

  #secondCarArt .section section .carousel {
    margin-top: 30px;
    height: 320px;
  }

  #secondCarArt .section section .carde {
    margin-top: 30px;
  }

  .carde .cardText p {
    display: none;
  }
  
  #secondCarArt .section .carousel .img-to-see {
    width: 85%;
  }  
}

@media (max-width: 650px) {
  #carArt .section section:nth-child(2) {
    height: 300px;
  }

  #carArt .card {
    width: 100%;
  }

  #carArt .card .objectIcon .icon {
    height: 40px;
    width: 40px;
    font-size: 20px;
    border-radius: 12px;
  }

  #carArt .card .cardText h5 {
    font-size: 16px;
  }
}
