@media (max-width: 1250px) {

    .firstBlock {
        overflow: hidden;
    }

    .firstBlock .imgResp {
        overflow: hidden;
        z-index: -5;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .firstBlock .imgResp img {
        height: 100%;
        opacity: 70%;
    }

    .firstBlock main {
        width: 100%;
    }

    .bigTitle {
        font-size: 100px;
        color: #303030;
    }

    .scroll {
        display: none;
    }

    #blockVideo {
        display: none;
    }

    .firstBlock main h3 {
        color: #303030;
        font-size: 20px;
    }

    #pricing {
        margin-bottom: 0px;
    }

    .secondBlock main {
        width: 100%;
    }

    .secondBlock .cards {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .secondBlock .cardOne,
    .secondBlock .cardTwo,
    .secondBlock .cardThree {
        position: relative;
        height: 400px;
        width: 400px;
    }

    .priceBlock main {
        width: 100%;
    }

    .priceBlock .cards {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .priceBlock .cardOne,
    .priceBlock .cardTwo,
    .priceBlock .cardThree {
        position: relative;
        height: 800px;
        width: 400px;
    }
}

@media (max-width: 1020px) {

    .secondBlock main {
        margin: 0 auto;
    }

    .secondBlock .para {
        width: 90%;
        margin-bottom: 0px;
    }

    .secondBlock .cards {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .secondBlock .cardOne,
    .secondBlock .cardTwo,
    .secondBlock .cardThree {
        position: relative;
        height: 400px;
        width: 400px;
        margin-top: 100px;
    }

    .priceBlock main {
        width: 100%;
    }

    .priceBlock .title { 
        margin-top: 30px;
    }

    .priceBlock .para {
        width: 90%;
        margin-bottom: 0px;
    }

    .priceBlock .cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .priceBlock .cardOne,
    .priceBlock .cardTwo,
    .priceBlock .cardThree {
        position: relative;
        height: 800px;
        width: 400px;
        margin-top: 30px;
    }

}

@media (max-width: 650px) {

    .bigTitle {
        width: 90%;
        font-size: 60px;
        color: #303030;
    }

    .firstBlock main h3 {
        color: #303030;
        font-size: 15px;
    }

    .linkBtn {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .demo {
        margin-right: 0;
    }

    .log {
        margin-left: 0;
        margin-top: 20px;
    }

    .secondBlock .title {
        padding: 20px 0;
        background: #303030;
        color: #fff;
    }


    .secondBlock .para {
        display: none;
    }

    .secondBlock .cardOne,
    .secondBlock .cardTwo,
    .secondBlock .cardThree {
        position: relative;
        height: 450px;
        width: 95%;
        margin-top: 100px;
    }

    .priceBlock .title {
        padding: 20px 0;
        background: #303030;
        color: #fff;
    }

    .priceBlock .para {
        display: none;
    }

    .priceBlock .btnPrice {
        height: 150px;
    }

    .priceBlock .cardOne,
    .priceBlock .cardTwo,
    .priceBlock .cardThree {
        position: relative;
        height: auto;
        width: 95%;
        margin-top: 30px;
    }
}