@media (max-width: 1250px) {

    .firstBlock {
        overflow: hidden;
    }

    .firstBlock .imgResp {
        overflow: hidden;
        z-index: -5;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .firstBlock .imgResp img {
        height: 100%;
        opacity: 60%;
    }

    .firstBlock main {
        width: 100%;
    }

    .bigTitle {
        font-size: 100px;
        color: #303030;
    }

    .scroll {
        display: none;
    }

    #blockVideo {
        display: none;
    }

    .firstBlock main h3 {
        color: #303030;
        font-size: 20px;
    }

    #pricing {
        margin-bottom: 0px;
    }

    .secondBlock main {
        width: 100%;
    }

    .secondBlock .cards {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .secondBlock .cardOne,
    .secondBlock .cardTwo,
    .secondBlock .cardThree {
        position: relative;
        height: 400px;
        width: 400px;
    }

    .useBlock main {
        width: 100%;
    }

    .useBlock .rightBox {
        width: 80%;
    }

    .shareBlock main {
        width: 100%;
    }

    .shareBlock .shareCard {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .shareBlock .cardOne,
    .shareBlock .cardTwo,
    .shareBlock .cardThree {
        position: relative;
        height: 400px;
        width: 400px;
    }

    .saleBlock main {
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .priceBlock main {
        width: 100%;
    }

    .priceBlock .cards {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .priceBlock .cardOne,
    .priceBlock .cardTwo,
    .priceBlock .cardThree {
        position: relative;
        height: 800px;
        width: 400px;
    }
}

@media (max-width: 1020px) {

    .secondBlock main {
        margin-top: 0;
    }

    .secondBlock .para {
        width: 90%;
        margin-bottom: 0px;
    }

    .secondBlock .cards {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .secondBlock .cardOne,
    .secondBlock .cardTwo,
    .secondBlock .cardThree {
        position: relative;
        height: 400px;
        width: 400px;
        margin-top: 100px;
    }

    .useBlock .fmLine {
        height: 650px;
    }

    .useBlock .fmCircle1 {
        margin-bottom: 65px;
    }

    .useBlock .fmCircle2 {
        margin-bottom: 100px;
    }

    .useBlock .fmCircle3 {
        margin-bottom: 125px;
    }

    .useBlock .fmCircle4 {
        margin-bottom: 100px;
    }

    iframe {
        width: 90%;
    }

    .shareBlock .para {
        width: 90%;
        margin-bottom: 0px;
    }

    .shareBlock .shareCard {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .shareBlock .cardOne,
    .shareBlock .cardTwo,
    .shareBlock .cardThree {
        position: relative;
        height: 400px;
        width: 400px;
        margin-top: 100px;
    }

    .saleBlock h4 {
        font-size: 40px;
    }

    .saleBlock p {
        width: 90%;
    }

    .saleBlock .buttonSale {
        width: 60%;
        font-size: 20px;
    }

    .priceBlock main {
        width: 100%;
    }

    .priceBlock .title {
        margin-top: 30px;
    }

    .priceBlock .para {
        width: 90%;
        margin-bottom: 0px;
    }

    .priceBlock .cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .priceBlock .cardOne,
    .priceBlock .cardTwo,
    .priceBlock .cardThree {
        position: relative;
        height: 800px;
        width: 400px;
        margin-top: 30px;
    }

}

@media (max-width: 650px) {

    .firstBlock {
        height: 80vh;
    }

    .bigTitle {
        width: 90%;
        font-size: 60px;
        color: #303030;
    }

    .firstBlock main h3 {
        color: #303030;
        font-size: 15px;
    }

    .linkBtn {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .demo {
        margin-right: 0;
    }

    .log {
        margin-left: 0;
        margin-top: 20px;
    }

    .secondBlock .para {
        display: none;
    }

    .secondBlock .cardOne,
    .secondBlock .cardTwo,
    .secondBlock .cardThree {
        position: relative;
        height: 450px;
        width: 95%;
        margin-top: 100px;
    }

    .useBlock .leftBox {
        display: none;
    }

    .useBlock .rightBox h6 {
        font-size: 25px;
        font-weight: bold;
        color: #303030;
        margin-bottom: 10px;
    }

    .useBlock .rightBox p {
        width: 100%;
        font-size: 15px;
        color: #303030;
        margin-bottom: 20px;
    }

    iframe {
        display: none;
    }

    .shareBlock .para {
        display: none;
    }

    .saleBlock h4 {
        font-size: 30px;
    }

    .saleBlock p {
        width: 100%;
    }

    .saleBlock .buttonSale {
        width: 100%;
        font-size: 15px;
    }

    .priceBlock .para {
        display: none;
    }

    .priceBlock .btnPrice {
        height: 150px;
    }

    .priceBlock .cardOne,
    .priceBlock .cardTwo,
    .priceBlock .cardThree {
        position: relative;
        height: auto;
        width: 95%;
        margin-top: 30px;
    }
}