/* START FIRST BLOCK */
.firstBlock {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstBlock main {
    width: 80%;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* BLOCK CONTENT SIZE */

#blockVideo {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

#blockVideo video {
    width: 100%;
    z-index: -1;
}

.firstBlock .cardHome {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bigTitle {
    text-align: center;
    font-size: 120px;
    font-weight: bolder;
    letter-spacing: 3px;
    line-height: 1.05;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
}

.bigTitle span {
    background: -webkit-linear-gradient(316deg, #e62117 30%, #a30000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.firstBlock main h3 {
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 30px;
    text-align: center;
    width: 60%;
    margin-top: 30px;
}

.linkBtn {
    display: flex;
    margin-top: 30px;
}

.linkBtn .log,
.linkBtn .demo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.log {
    width: 250px;
    border-radius: 20px;
    background: #fff;
    color: #303030;
    margin-left: 10px;
}

.log:hover {
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
}

.demo {
    width: 250px;
    border-radius: 20px;
    color: #fff;
    margin-right: 10px;
    border: 2px solid #e62117;
    background-color: #a30000;
    background-image: linear-gradient(147deg, #e62117 30%, #a30000 100%);
}

.demo:hover {
    color: #fff;
    background: transparent;
}

.scroll {
    z-index: 3;
    position: absolute;
    bottom: 20px;
    text-align: center;
    animation: rock 2s infinite linear;
}

.scroll i {
    text-align: center;
    color: #fff;
    font-size: 80px;
    font-weight: bold;
}

@keyframes rock {
    50% {
        transform: translateY(10px);
    }
}

/* END FIRST BLOCK */

/* START SECOND BLOCK */

.secondBlock {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondBlock main {
    width: 80%;
    margin: 150px auto;
    display: flex;
    justify-content: space-between;
}

.secondBlock .cardOne,
.secondBlock .cardTwo,
.secondBlock .cardThree {
    position: relative;
    min-height: 400px;
    max-height: 500px;
    width: 350px;
    padding: 20px 30px 20px 30px;
    box-sizing: border-box;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.secondBlock .column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secondBlock .cardIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 70px;
    height: 120px;
    width: 120px;
    border-radius: 20px;
    background: #303030;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 8px -1px, rgba(0, 0, 0, 0.3) 0px 4px 6px -1px;
}

.cardIcon i {
    position: absolute;
    font-size: 60px;
    color: #fff;
}

.cardIcon .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 60px;
    bottom: 60px;
    height: 40px;
    width: 40px;
    border-radius: 999px;
    border: 3px solid #fff;
    color: #fff;
    background-color: #a30000;
    background-image: linear-gradient(147deg, #e62117 30%, #a30000 100%);
    font-family: 'MontSerrat', sans-serif;
}

.secondBlock .cardContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cardContent h5 {
    text-align: center;
    font-size: 25px;
    color: #303030;
}

.cardContent p {
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
    color: #303030;
}

/* END SECOND BLOCK */