footer {
  padding: 30px 0 50px 0;
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #303030;
}

footer .newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  color: #fff;
}

footer .subscribeForm {
  display: flex;
  flex-direction: column;
  text-align: center;

  margin: 30px;
}

footer .inputNew {
  margin-bottom: 15px;
  padding: 12px 15px;
  color: whitesmoke !important;
    border: 2px solid #ebebeb !important;
    background: transparent;
    height: 50px;
    line-height: 24px;
    min-width: 400px;
}

footer .msg {
  display: none;
}

footer .errorMsg{
  color: #f7c8c5;
}

footer .buttonNew {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  min-width: 150px;
  border-radius: 999px;
  border: none;
  font-size: 16px;
  padding: 13px 20px;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

footer .button:hover {
  transition: all, 0.5s ease-in-out;
}

.flexFoot {
  width: 85%;
  max-width: 1700px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
}

.flexFoot h6 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  color: #e62117;
}

.footLeft {
  position: relative;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footMid {
  position: relative;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footRight {
  position: relative;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.planFoot {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 25px;
}

.planFoot p {
  font-size: 16px;
  margin: 5px 0;
  color: #fff;
}

.planFoot a {
  font-size: 16px;
  margin: 5px 0;
  color: #fff;
  cursor: pointer;
}

.planFoot a:hover {
  color: #01b2fe;
  text-decoration: underline #01b2fe;
}

.footBottom {
  margin-top: 50px;
  width: 85%;
  max-width: 1700px;
  border-top: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footBottom .socialMedia {
  margin-top: 50px;
  display: flex;
}

.footBottom .socialMedia a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footBottom .socialMedia i {
  font-size: 30px;
  margin: 0 30px;
  color: #fff;
}

.footBottom .socialMedia div {
  height: 2px;
  background: #e62117;
  width: 50px;
}

.footBottom .socialMedia a:hover div {
  background: #e62117;
  height: 2px;
  width: 50px;
  animation: all, underline 0.5s;
}

@keyframes underline {
  0% {
    width: 0px;
  }

  100% {
    width: 50px;
  }
}

.footBottom p {
  margin-top: 50px;
}

@media (max-width: 1020px) {

  .footLeft,
  .footRight {
    width: 50%;
  }

  .footMid {
    display: none;
  }
}

@media (max-width: 650px) {
  .footLeft {
    width: 90%;
  }

  .footRight {
    display: none;
  }
}