
@media (max-width: 1250px) {
    .description h1 {
        font-size: 27px;
        font-family: "Besley", serif;
    }
}

@media (max-width: 1187px) {
    .description h1 {
        font-size: 25px;
        font-family: "Besley", serif;
    }
}

@media (max-width: 1134px) {
    .description h1 {
        font-size: 23px;
        font-family: "Besley", serif;
    }
}

@media (max-width: 1081px) {
    .description h1 {
        font-size: 21px;
        font-family: "Besley", serif;
    }
}

@media (max-width: 1029px) {
    .description h1 {
        font-size: 20px;
        font-family: "Besley", serif;
    }

    .description h2 {
        font-size: 12px;
    }
}

@media (max-width: 1020px) {
    .description h1 {
        font-size: 22px;
        font-family: "Besley", serif;
    }

    .description h2 {
        font-size: 11px;
    }

    .description h4 {
        font-size: 11px;
    }

    .description p {
        font-size: 16px;
    }
}

@media (max-width: 990px) {
    .description h1 {
        font-size: 18px;
        font-family: "Besley", serif;
    }

    .description h2 {
        font-size: 11px;
    }
}

@media (max-width: 949px) {
    .description h1 {
        font-size: 16px;
    }
    .description h2 {
        font-size: 10.5px;
    }
    .description h4 {
        font-size: 10px;
    }
}

@media (max-width: 949px) {
    .img-actu {
        width : 60%; 
        min-width : 160px;
    }
}


@media (max-width: 837px) {
    .description p {
        font-size: 15px;
    }
    .description h4 {
        font-size: 10px;
    }
}

@media (max-width: 831px) {
    .description h1 {
        font-size: 15px;
    }

    .description h2 {
        font-size: 11px;
    }
}

@media (max-width: 797px) {
    .meta {
        width: 80%;
        max-width: 500px;
    }

    .box h1 {
        font-size: 35px;
    }
    .description h2 {
        font-size: 10px;
    }

    .description p {
        font-size: 14px;
    }
}

@media (max-width: 757px) {
    .description h1 {
        font-size: 15px;
    }

    .description h2 {
        font-size: 9px;
    }

    .description h4 {
        font-size: 9px;
    }

    .description p {
        font-size: 13px;
    }

    .description .read-more a {
        display: flex;
        justify-content: flex-end;
     }

     .description .read-more:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
}

@media (max-width: 713px) {
    .img-actu {
        width: 60%;
        max-width: 150px;
    }
    .box h1 {
        font-size: 35px;
      }

    .box h1 {
        font-size: 30px;
    }

    .description h1 {
        font-size: 14px;
    }
}

@media (max-width: 690px) {
    .pres_actu {
        font-size: 16px;
      }

      .description h1 {
        font-size: 14px;
      }
}

@media (max-width: 678px) {
    .description h1 {
        font-size: 12px;
      }

    .description h2 {
        font-size: 9px;
    }

    .description h4 {
        font-size: 9px;
    }
}

@media (max-width: 673px) {
    .description p {
        font-size: 12px;
    }
}
@media (max-width: 648px) {
    .box h1 {
        font-size: 30px;
    }

    .pres_actu {
        font-size: 15px;
      }

    .description h1 {
        font-size: 12px;
      }


    .description.alt {
        flex-direction: row-reverse;
    }

    .description:before {
        left: inherit;
        right: -10px;
        transform: skew(3deg)
    }


    .details {
        padding-left: 25px;
    }
}

@media (max-width: 637px) {
    .box h1 {
        font-size: 30px;
    }

    .description h1 {
        font-size: 13px;
        font-family: "Besley", serif;
    }

    .description h2 {
        font-size: 10px;
    }

    .description p {
        font-size: 12px;
    }

    .description .read-more a {
       display: flex;
       justify-content: flex-end;
    }

}

@media (max-width: 561px) {
    .box h1 {
        font-size: 28px;
    }
}

@media (max-width: 542px) {
    .meta {
        width: 60%;
        max-width: 300px;
    }

    .description h1 {
        font-size: 18px;
        font-family: "Besley", serif;
    }
}


@media (max-width: 542px) {
    .box h1 {
    font-size: 26px;
    }
}

@media (max-width: 518px) {
    .meta {
        width: 50%;
        max-width: 200px;
    }

    .box h1 {
    font-size: 26px;
    }

    .description h1 {
        font-size: 16px;
    }
}

@media (max-width: 505px) {
    .meta {
        width: 30%;
        max-width: 120px;
    }

    .box h1 {
    font-size: 24px;
    }
}

@media (max-width: 472px) {
     .box h1 {
    font-size: 20px;
    }

    .description h1 {
        font-size: 16px;
        font-family: "Besley", serif;
    }

    .description h2 {
        font-size: 10.5px;
    }

    .description h4 {
        font-size: 10px;
    }
}

@media (max-width: 457px) {
    .pres_actu {
        font-size: 16px;
      }
}

@media (max-width: 453px) {
    
    .description h1 {
        font-size: 15px;
    }

    .description h2 {
        font-size: 9px;
    }

    .description h4 {
        font-size: 9px;
    }
}

@media (max-width: 413px) {
    .description h1 {
        font-size: 13px;
    }

    .description h2 {
        font-size: 8px;
    }

    .description h4 {
        font-size: 8px;
    }
    .description p {
        font-size: 12px;
        line-height: 1rem;
    }
}