.thirdBlock {
    height: auto;
    display: flex;
    align-items: center;
}

.thirdBlock article {
    width: 85%;
    padding: 50px 0 50px 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.thirdBlock .saSubtitle {
    width: 100%;
    margin: auto;
}

.thirdBlock .saSubtitle h2 {
    text-align: center;
    font-size: 36px;
    line-height: 1.30em;
    letter-spacing: 2px;
    margin-bottom: 0.5em;
    font-family: 'Besley', serif;
}

.thirdBlock .saSubtitle p {
    margin: auto;
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    width: 60%;
}

.thirdBlock img {
    border-radius: 10px;
}

.thirdBlock .saChart {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.thirdBlock .saChart img {
    width: 40%;
    border-radius: 10px;
}

.thirdBlock .saChart img:nth-child(1) {
    width: 30%;
}