.thirdBlock {
  height: auto;
  display: flex;
  align-items: center;
  max-width: 1700px;
  margin: auto;
}

.thirdBlock article {
  width: 85%;
  padding: 50px 0 50px 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.thirdBlock .saSubtitle {
  width: 100%;
  margin: auto;
}

.thirdBlock .saSubtitle h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-bottom: 0.5em;
  font-family: "Besley", serif;
}

.thirdBlock .saSubtitle p {
  margin: auto;
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
  width: 60%;
}

.thirdBlock .saProfil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  
  padding: 10px 0;
  margin-bottom: 30px;

  border-radius: 10px;
  background: #eee;
}

.thirdBlock .saProfil img {
  width: 40px;

  border-radius: 50%;
}

.thirdBlock .saProfil .infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.saProfil .infos .bold {
  font-weight: bold;
}

.thirdBlock .saProfil #first {
  width: 15%;
}

.thirdBlock .saProfil .boxInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 23%;
}

.thirdBlock .saChart {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
}

.thirdBlock .saChart .lines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.saChart .lines .line {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 350px;

  padding: 8px 0;

  border-bottom: 1px solid #8d8d8d;
}
.line strong,
.line p {
  font-size: 18px;
  margin-left: 3px;
}

.thirdBlock .saChart #chart4 {
  width: 600px;
}