@media (max-width: 1339px) {
  .firstBlock main {
    width: 100%;
  }

  .firstBlock .saSubtitle h2 {
    font-size: 30px;
  }

  .firstBlock .saSubtitle p {
    width: 80%;
  }

  .secondBlock article {
    width: 100%;
  }

  .secondBlock .saSubtitle h2 {
    font-size: 30px;
  }

  .secondBlock .saSubtitle p {
    width: 80%;
  }

  .thirdBlock article {
    width: 100%;
  }

  .thirdBlock .saSubtitle h2 {
    font-size: 30px;
  }

  .thirdBlock .saSubtitle p {
    width: 80%;
  }
}

@media (max-width: 1020px) {
  .firstBlock .saChart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .firstBlock .saSubtitle p {
    width: 90%;
  }

  .column:last-child {
    margin-top: 30px;
  }

  .secondBlock .saSubtitle p {
    width: 90%;
  }

  .secondBlock .saChart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .secondBlock .saChart #stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 250px;
  }

  .thirdBlock .saChart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 1139px) {
  .thirdBlock .saProfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .thirdBlock .saProfil .doubleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 15px;

    width: 100%;
  }

}

@media (max-width: 650px) {
    .saProfil .doubleBox .boxInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;

    margin: 5px 0;

    font-size: 14px;
  }

  .doubleBox .boxInfo .infos {
    display: flex;
    justify-content: center;
  }

  .firstBlock .saChart #chart {
    width: 350px;
  }

  .firstBlock .saChart #chart2 {
    width: 350px;
  }

  .secondBlock .saChart #chart3 {
    width: 350px;
  }

  .secondBlock .saChart #stat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 280px;
  }

  .saChart #stat #treeCards{
    display: flex;
    justify-content: center;
  }

  .secondBlock .saChart #stat .cards {
    margin-top: 10px;
    width: 30%;
  }

  .thirdBlock .saChart #chart4 {
    width: 350px;
  }
}