@media (max-width: 1390px) {
  .form input,
  #message,
  #subject {
      width: 520px;
    }
}
.contactPage .blockRight p {
  margin-bottom: 15px;
  width: 65%;
}

@media (max-width: 1270px) {
  .form input,
  #message,
  #subject {
      width: 470px;
      
    }
}

@media (max-width: 1250px) {
  .contactPage {
    width: 95%;
  }

  .contactPage .blockLeft {
    width: 85%;
  }

  .contactPage .blockRight {
    width: 70%;
  }

  .form input,
  #message,
  #subject {
      width: 420px;
      padding: 5px 10px;
    }

  .contactPage .contactInfo {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
}

@media (max-width: 1205px) {
  .contactPage .blockRight {
    width: 70%;
  }

  .form input,
  #subject {
    width: 420px;
  }
}

@media (max-width: 1150px) {
  p {
    text-align: center;
  }

  .form input,
  #subject {
    width: 390px;
  }

  .form textarea {
    width: 390px;
  }
}

@media (max-width: 1100px) {
  .form input,
  #subject {
    width: 350px;
  }

  .form textarea {
    width: 390px;
  }
}

@media (max-width: 1020px) {
  .contactPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contactPage .blockRight {
    width: 90%;
  }
  .contactPage .blockRight h2 {
    font-size: 30px;
    letter-spacing: 1px;
  }

  .contactPage .blockLeft {
    width: 85%;
  }

  .contactPage .blockRight {
    width: 70%;
  }

  .form input,
  #subject {
    width: 350px;
  }

  .contactPage .contactInfo {
    display: flex;
    flex-direction: column;

    width: 80%;
    margin: 30px 0;
  }

  #allContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  iframe {
    width: 500px;

    margin: 20px 0;
  }
}

@media (max-width: 1000px) {

  .form input,
.form textarea,
#subject {
    width: 310px;
  }
}

@media (max-width: 875px) {

  .contactPage .form {
  display: flex;

  flex-direction: column;
  width: 95%;
  padding: 15px 50px;
  background: #eeeeee;
  border-radius: 10px;
}

.form input,
#message,
#subject {
    width: 400px;
  }
}

@media (max-width: 790px) {
.form input,
#message,
#subject {
    width: 390px;
  }
}

@media (max-width: 760px) {
  
.form input,
#message,
#subject {
    width: 380px;
  }
}

@media (max-width: 720px) {
  
.form input,
#message,
#subject {
    width: 370px;
  }

  #case {
    height: 25px;
    width: 25px;

    margin-right: 10px;
  }

  iframe {
    width: 450px;
  }
}

@media (max-width: 690px) {
  
  .form input,
  #message,
  #subject {
      width: 325px;
    }
}

@media (max-width: 660px) {
  
  .form input,
  #message,
  #subject {
      width: 320px;
    }
}

@media (max-width: 630px) {
  
  .form input,
  #message,
  #subject {
      width: 300px;
    }
}

@media (max-width: 570px) {
  .contactInfo .socialMedia {
    bottom: -10px;
  }

  #case {
    height: 25px;
    width: 25px;

    margin-right: 10px;
  }

  .form input,
  #message,
  #subject {
      width: 250px;
    }
}

@media (max-width: 520px) {
  .form input,
  #message,
  #subject {
      width: 230px;
    }

  #case {
    height: 30px;
    width: 30px;
  }

  iframe {
    width: 400px;
  }
}

@media (max-width: 485px) {
  #allContact {
    width: 85%;
  }

  .form input,
  #message,
  #subject {
      width: 200px;
      padding: 5px 10px;
    }

  #case {
    height: 35px;
    width: 35px;
  }

  .form .lineContact .checkMention {
    width: 250px;
  }

  #textMention {
    font-size: 12px;
  }

  .contactInfo .socialMedia a {
    width: 25%;
  }

  iframe {
    width: 300px;
  }
}

@media (max-width: 460px) {
  .form input,
  #message,
  #subject {
      width: 190px;
      padding: 5px 12px;
    }
}

@media (max-width: 430px) {
  .form input,
  #message,
  #subject {
      width: 180px;
      padding: 5px 10px;
    }
}

@media (max-width: 320px) {
  .form input,
  #message,
  #subject {
      width: 170px;
      padding: 5px 10px;
    }

  .form #textZone {
    width: 220px;
  }

  #case {
    height: 35px;
    width: 35px;
  }

  .contactInfo .socialMedia a {
    width: 30%;
  }

  iframe {
    width: 260px;
  }
}
