@media (max-width: 1250px) {
  #videoHome a {
    display: none;
  }

  .homePage .blockLeft h1 {
    font-size: 35px;
  }

  .saleBlock main {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .saleBlock h4 {
    text-align: center;
  }

  .priceBlock main {
    width: 100%;
  }

  .priceBlock .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .priceBlock .cardOne,
  .priceBlock .cardTwo,
  .priceBlock .cardThree {
    position: relative;
    height: 1030px;
    width: 400px;
  }
}

@media (max-width: 1180px) {

  .priceBlock .cardOne,
  .priceBlock .cardTwo,
  .priceBlock .cardThree {
    position: relative;
    height: 1030px;
    width: 400px;
  }
}

@media (max-width: 1020px) {
  #videoHome {
    margin: 0;
    padding: 0;
  }

  #blockVideo {
    display: none;
  }

  #blockImg {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding-top: 80px;
  }

  #blockImg #wallpaper {
    width: 100%;
  }

  .homeTitle .titre h1 {
    font-size: 50px;
    color: #A80000;
  }

  #manag {
    color: #fff;
  }

  .homeTitle .paragraphe p {
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 16px;
   
  }
  .topHome {
    padding: 30px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homePage .blockLeft {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .homePage .blockLeft h1 {
    text-align: center;
    letter-spacing: 1px;
  }

  .homePage .blockLeft p {
    margin-bottom: 0;
  }

  .homePage .blockRight {
    display: none;
  }

  .homePage .botTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .homePage .botTop .button {
    height: auto;
    margin-top: 10px;
  }

  .homePage .botTop .button p {
    display: none;
  }

  .homePage .botBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
  }

  .homePage .botBottom .imgLog {
    width: 100%;
    margin-top: 20px;
  }

  .homePage .botBottom img {
    width: 70px;
  }

  .homePage .botBottom #logoMonday {
    width: 100px;
  }

  #carArt {
    z-index: 1;
    width: 85%;
    max-width: 1700px;
    height: auto;
    padding: 50px 0;
    margin: auto;
  }

  #carArt .sectionTitle h2 {
    font-size: 30px;
    letter-spacing: 1px;
  }

  #carArt .section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  #carArt .section section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    z-index: 1;
  }

  #carArt .section section:nth-child(2) {
    margin-top: 30px;
    height: 420px;
  }

  #carArt .card {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .card .cardText p {
    display: none;
  }

  #carArt .section .carousel .img-to-show {
    width: 85%;
  }

  #partArt .sectionTitle h2 {
    font-size: 30px;
    letter-spacing: 1px;
  }

  #partArt .partner1 {
    width: 250vw;
  }

  .partner1 .logoPartners {
    margin: 0;
    padding: 0 25px 5px 0;
  }

  #viewArt .sectionTitle h2 {
    font-size: 30px;
    letter-spacing: 1px;
  }

  .saleBlock h4 {
    font-size: 40px;
  }

  .saleBlock p {
    width: 90%;
  }

  .priceBlock h2 {
    font-size: 30px;
    letter-spacing: 1px;
  }

  .priceBlock main {
    width: 100%;
  }

  .priceBlock .title {
    margin-top: 30px;
  }

  .priceBlock .para {
    width: 90%;
    margin-bottom: 0px;
  }

  .priceBlock .cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .priceBlock .cardOne {
    position: relative;
    height: 600px;
    width: 400px;
    margin-top: 30px;
  }

  .priceBlock .cardTwo {
    position: relative;
    height: 900px;
    width: 400px;
    margin-top: 30px;
  }

  .priceBlock .cardThree {
    height: 1030px;
    margin-top: 30px;
    width: 400px;
    position: relative;
  }
}

@media (max-width: 650px) {
  #videoHome {
    margin: 0;
    padding: 0;
  }

  #blockVideo {
    display: none;
  }

  #blockImg {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding-top: 80px;
  }

  #blockImg #wallpaper {
    width: 100%;
  }

  .homeTitle .titre h1 {
    color: #A80000;
  }

  #manag {
    color: #fff;
  }

  .homeTitle .paragraphe p {
    font-size: 14px;
  }

  .topHome {
    padding: 20px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homePage .blockLeft {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .homePage .blockLeft h1 {
    font-size: 25px;
    text-align: center;
  }

  .homePage .blockLeft p {
    margin-bottom: 0;
  }

  .homePage .blockRight {
    display: none;
  }

  .homePage .botTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .typing::after {
    display: none;
  }

  .homePage .botTop .button {
    height: auto;
    margin-top: 10px;
  }

  .homePage .botTop .button p {
    display: none;
  }

  .homePage .botBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
  }

  .homePage .botBottom .imgLog {
    width: 100%;
    margin-top: 20px;
  }

  .homePage .botBottom img {
    width: 70px;
  }

  .homePage .botBottom #logoMonday {
    width: 100px;
  }

  #carArt .sectionTitle h2 {
    font-size: 20px;
  }

  #carArt .section section:nth-child(2) {
    height: 300px;
  }

  #carArt .card {
    width: 100%;
  }

  #carArt .card .objectIcon .icon {
    height: 40px;
    width: 40px;
    font-size: 20px;
    border-radius: 12px;
  }

  #carArt .card .cardText h5 {
    font-size: 16px;
  }

  #partArt .sectionTitle h2 {
    font-size: 20px;
  }

  .partner1 div {
    margin: 0 -45px;
  }

  #partArt .partner1 {
    width: 200vw;
  }

  .bandHorizontal .mt {
    margin-top: 135px;
  }

  .bandHorizontal .mb {
    margin-bottom: 135px;
  }

  .partner1 img.svg {
    position: absolute;
    width: 150px;
    z-index: 2;
  }

  .partner1 .logoPartners {
    width: 90px;
    margin: 0;
    padding: 0 25px 5px 0;
  }

  #linkPartners {
    margin-top: 20px;
  }

  #viewArt .sectionTitle h2 {
    font-size: 20px;
  }

  .allViews {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation: 120s linear infinite alternate animate2;
  }

  @keyframes animate2 {
    0% {
      transform: translateX(1000px);
    }

    100% {
      transform: translateX(-1000px);
    }
  }

  .viewSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 350px;
    height: 270px;
  }

  .saleBlock {
    padding: 0;
  }

  .saleBlock h4 {
    font-size: 30px;
  }

  .saleBlock p {
    width: 100%;
  }

  .priceBlock h2 {
    font-size: 20px;
  }

  .priceBlock .btnPrice {
    height: 150px;
  }

  .priceBlock .cardOne,
  .priceBlock .cardTwo,
  .priceBlock .cardThree {
    position: relative;
    height: auto;
    width: 95%;
    margin-top: 30px;
  }
}

@media (max-width: 470px) {
  .homeTitle .titre h1 {
    font-size: 30px;
  }

  .homeTitle .paragraphe {
   text-align: center;
  width: 80%;
  }

  .homeTitle .paragraphe p {
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 12px;
}

.homeTitle .paragraphe  #logoTechI{
  width: 30%;
}

.homeTitle .paragraphe #year {
 font-size: 15px;
}

@media (max-width: 340px) {
  .homeTitle .paragraphe #year {
    font-size: 12px;
   }
}
}