#videoHome {
    margin: 0 0 100px 0;
    padding: 0;
}

#blockVideo {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blockVideo video {
    z-index: 1;
    position: relative;
    width: 100%;
}

#blockVideo h1 {
    font-size: 8em;
    z-index: 2;
    position: absolute;
    color: #fff;
}

#blockVideo a {
    z-index: 2;
    position: absolute;
    bottom: 150px;
}

#blockVideo #scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 30px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    border: 2px solid #fff;

    animation: rock 2s infinite linear;
}

#blockVideo #scroll #dot {
    height: 10px;
    width: 4px;
    background: #fff;
    border-radius: 20px;
}

@keyframes rock {
    50% {
        transform: translateY(15px);
    }
}