#carArt {
  z-index: 1;
  width: 85%;
  max-width: 1700px;
  height: auto;
  padding: 50px 0;
  margin: auto;
}

#carArt .sectionTitle {
  width: 100%;
  margin: auto;
}

#carArt .sectionTitle h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.3em;
  letter-spacing: 2px;
  margin-bottom: 0.5em;
  font-family: "Besley", serif;
}

#carArt .sectionTitle p {
  margin: auto;
  text-align: center;
  color: #303030;
  font-size: 16px;
  width: 60%;
}

#carArt .section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}

#carArt .section section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  z-index: 1;
}

#carArt .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 30px;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: all, 0.5s;
}

#carArt .card:hover {
  background: #f1f1f1;
  transition: all, 0.5s;
}

#carArt .card .objectIcon {
  width: 20%;
  margin-right: 20px;
}

#carArt .card .objectIcon .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 30px;
  background: #333;
  border-radius: 15px;
}

#carArt .selected .objectIcon .icon {
  background-color: #a30000;
  background-image: linear-gradient(147deg, #e62117 30%, #a30000 100%);
}

#carArt .card .cardText {
  display: inline;
  text-align: left;
}

#carArt .card .cardText h5 {
  font-size: 20px;
}

#carArt .card .cardText p {
  display: flex;
  text-align: justify;
  margin-top: 15px;
  font-size: 16px;
}

#carArt .section .carousel {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carArt .section .carousel .img-to-show {
  position: absolute;
  width: 90%;
  border-radius: 5px;
}

.imgAnim {
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.img-to-show {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.selected {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
