.homePage {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: auto;
  padding: 150px 0;
  margin: auto;
}

.homePage section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  z-index: 1;
}

section .title h1 {
  text-align: left;
  font-size: 3.375em;
  line-height: 4.5rem;
  letter-spacing: 2px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: 'Besley', serif;
}

section .para p {
  line-height: 1.5rem;
  font-size: 1.25rem;
  margin-bottom: 1.5em;
}

section .button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  box-sizing: none;
}

section .button .homeBtn {
  font-size: 1.15rem;
  width: 280px;
}

section .button p {
  margin-top: 0.5em;
  color: #505050;
}

section .integ {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

section .layer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

section .layer img {
  width: 90%;
  z-index: 2;
}

section .layer a {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 80%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  z-index: 3;
}

section .layer a i {
  margin-top: 3px;
  margin-right: 3px;
  font-size: 25px;
}