.sectionAbout {
    height: auto;
    padding: 100px 0 50px 0;
    margin: auto;
    max-width: 1700px;
}

.sectionAbout main {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutTop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 70%;
}

.aboutTop h2 {
    text-align: center;
    font-size: 36px;
    line-height: 1.30em;
    letter-spacing: 2px;
    font-family: 'Besley', serif;
    margin-bottom: 60px;
}

.aboutTop b {
    color: #e62117;
}

.hr {
    width: 100px;
    height: 3px;
    margin-bottom: 10px;
    background-color: #e62117;
}

.aboutTop p {
    margin: auto;
    width: 100%;
    margin-bottom: 40px;
    font-size: 18px;
}

.aboutTop a {
    text-decoration: underline #01b2fe;
}